aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx
lyricsgenius
motor
pillow==9.5.0
psutil
py-tgcalls==1.0.1
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml==5.3.1
requests
spotipy
tgcrypto
youtube-search
git+https://github.com/alexmercerind/youtube-search-python
git+https://github.com/Amahocaam/Muzik
git+https://github.com/MonsterBos/sello-
git+https://github.com/Amahocaam/Hizk
